<div class="header-area">
	<app-header></app-header>
</div> <!-- End header area -->

<div class="site-branding-area">
	<app-branding-area></app-branding-area>
</div> <!-- End site branding area -->

<div class="mainmenu-area">
	<app-mainmenu></app-mainmenu>
</div> <!-- End mainmenu area -->

<div class="slider-area">
		<!-- Slider -->
		<!-- <app-slider></app-slider> -->
		<router-outlet></router-outlet>
		<!-- ./Slider -->
</div> <!-- End slider area -->

<div class="promo-area">
	<app-promo></app-promo>
</div> <!-- End promo area -->

<div class="maincontent-area">
	<app-main-content></app-main-content>
</div> <!-- End main content area -->

<div class="brands-area">
	<app-brands-area></app-brands-area>
</div> <!-- End brands area -->

<div class="product-widget-area">
	<app-product-widget></app-product-widget>
</div> <!-- End product widget area -->

<div class="footer-area">
	<app-footer></app-footer>
</div> <!-- End footer area -->
