<div class="container">
    <div class="row">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div> 
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://localhost:4200">Home</a></li>
                <li><a href="http://localhost:4200/shop">Shop page</a></li>
                <li><a href="http://localhost:4200/singleProduct">Single product</a></li>
                <li><a href="http://localhost:4200/cart">Cart</a></li>
                <li><a href="http://localhost:4200/checkout">Checkout</a></li>
                <li><a href="#">Category</a></li>
                <li><a href="#">Others</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>  
    </div>
</div>